<div [hidden]="voting || showVoteDecision" id="game-container"
    class="pt-4 text-center justify-content-center w-100 h-100"></div>


<!--Voting-->
<div [hidden]="!voting" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ul class="list-group mt-4">
                <li class="list-group-item" *ngFor="let player of playerState">
                    <h4 *ngIf="player.alive" [class.text-info]="player.isMe" [class.underline]="player.isMe">
                        {{player.username}}</h4>
                    <h4 *ngIf="!player.alive" class="text-danger"><del>{{player.username}}</del></h4>
                    <span *ngIf="player.votes > 0" class="badge badge-pill badge-light">{{player.votes}}</span>
                    <button *ngIf="player.alive && iAmStillAlive()" class="btn btn-link float-right"
                        (click)="voteFor(player.connectionId)">Vote</button>
                </li>
            </ul>
            <div class="w-100 mt-5 pt-4 text-center">
                <circle-progress [percent]="percentage" [outerStrokeColor]="'#f4f4f4'" [radius]="100"
                    [innerStrokeColor]="'#535353'" [title]="timeLeftToVote">
                </circle-progress>
            </div>
            <button class="btn btn-danger mt-4" (click)="endVote()">Back to Game</button>
        </div>
    </div>
</div>

<div [hidden]="!showVoteDecision" class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <h3 *ngIf="voteDecision.tie" class="in-left">
            The vote ended in a tie... no one is burned at the stake.
        </h3>
        <h3 *ngIf="!voteDecision.tie" class="heartbeat">
            {{voteDecision.votedOffName}} is burned at the stake.
        </h3>
    </div>
</div>