<div class="container-fluid">
    <div class="row">
        <div class="col-3 px-0">
            <div class="container-fluid overflow-auto">
                <div class="row align-content-end bg-white" style="max-height: 82vh; min-height: 82vh; height: 83vh;">
                    <div class="col-12 px-0">
                        <div class="session-textchat">
                            <div #chatWindow class="past-messages px-1 pb-1">
                                <div *ngFor="let message of messageFeed" class="px-3 py-2"
                                    [class.receiver]="!message.is_from_me && !message.is_system_message" [class.sender]="message.is_from_me" [class.system]="message.is_system_message">
                                    <h5 class="mb-1 font-weight-bold">{{(message.is_from_me) ? "You" : message.sender}}</h5>
                                    <span class="message p-0 font-italic">
                                        {{message.message}}
                                    </span>
                                </div>
                                <span *ngIf="someoneIsTyping" class="text-secondary font-italic"> <img src="../../assets/loading-elipsis.gif" style="max-height: 30px;"/> Someone is typing</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-content-end border-white border-top" style="max-height: 18vh; min-height: 18vh;">
                    <div class="col-12 py-2 px-0">
                        <form #chatForm="ngForm">
                            <div class="input-group">
                                <textarea (keydown)="keyDownFunction($event)" (keyup)="keyUpFunction($event)" name="chatMessage" [ngModel]="chatMessage"
                                    (ngModelChange)="updateChatMessage($event)" rows="4" class="form-control"
                                    style="resize: none;" required></textarea>

                            </div>
                            <button class="btn btn-success mt-2 w-100" type="button" (click)="sendChatMessage()"
                                [disabled]="chatForm.invalid">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9" style="max-height: 100vh; min-height: 100vh;">
            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                  <div class="border-white border timer-wrapper ">
                      <h4 *ngIf="!showCountdown" style="line-height: 300px; text-align: center;">Waiting for more players{{waitingElipses}}</h4>
                      <h1 *ngIf="showCountdown" style="line-height: 300px; text-align: center;">{{timeUntilGameStart}}</h1>
                    </div>
              </div>
        </div>
    </div>
</div>