.underline {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}


.fly-in{
  animation: zoomInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.in-left {
  animation: lightSpeedInLeft;
  animation-duration: 1s;
}